@import '/src/styles/main.scss';
@import '../../../styles/utils/variables';

.container {
  margin-top: 16px;
}

.LoadMoreBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  width: 221px;
  height: 44px;
  border: 1px solid $color-grey;
  border-radius: 22px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
