@import '/src/styles/main.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  @include onDesktop {
    row-gap: 24px;
  }
}

.LoadMoreBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  width: 221px;
  height: 44px;
  border: 1px solid $color-grey;
  border-radius: 22px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $bg-hover-pagin-btn;
  }
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  width: 340px;
  height: 40px;
  @include onTablet {
    width: 668px;
  }
}

.pageClassName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $bg-hover-pagin-btn;
  }
}

.pageLinkClassName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.1px;
}

.activeClassName {
  background-color: $bg-active-btn;
  cursor: default;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $bg-active-btn;
  }
}

.previousClassName,
.nextClassName {
  flex-grow: 1;
}

.previousLinkClassName,
.nextLinkClassName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.previousLinkClassName,
.nextLinkClassName {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $bg-hover-pagin-btn;
    cursor: pointer;
  }
}

.previousLinkClassName[aria-disabled='true'] path,
.nextLinkClassName[aria-disabled='true'] path {
  fill: $arrow-icon-disabled;
}

.previousLinkClassName[aria-disabled='true'],
.nextLinkClassName[aria-disabled='true'] {
  background-color: transparent;
  cursor: auto;
}

.nextClassName {
  display: flex;
  justify-content: flex-end;
}
