@import '/src/styles/main.scss';

.plugContainer {
    text-align: center;
  & h3 {
    font-size: $mobile-2xl;
    font-weight: 700;
    line-height: 100%;
    @include onTablet {
      font-size: $tablet-2xl;
    }
    @include onDesktop {
      font-size: $desctop-2xl;
    }
  }

  & .imgContainer {
    width: 100%;
    height: 500px;
    background-image: url('../../assets/images/emptyPlugBcg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
