@import '../../../styles/main.scss';

.characteristicsSection {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 0px;
  @include onTablet {
    padding-top: 40px;
  }
}
