@import '../../styles/main.scss';

.category_bar {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  @media (max-width: 992px) {
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  scrollbar-width: none;
}

.category {
  padding: 10px 22px;
  box-sizing: border-box;
  background-color: $white-color;
  border: none;
  border-radius: 20px;
  color: $color-grey;
  cursor: pointer;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.category:not(:last-child) {
  margin-right: 8px;
}

.container {
  position: relative;
  display: flex;
  margin-bottom: 12px;
  &__scroll_right {
    display: flex;
    padding: 10px;
    border: none;
    cursor: pointer;
    @media (min-width: 992px) {
      display: none;
    }
  }

  &__scroll_left {
    display: flex;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
}
//on advanced_search page
.advanced_search_container {
  width: 100%;
  margin-bottom: 0;
}
.advanced_search_category_bar {
  display: flex;
  flex-wrap: wrap;
}
.advanced_search_category {
  margin-bottom: 8px;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: $border-gray;
  border: 1px solid $border-gray;
  border-radius: 32px;
  color: $color-black;
  cursor: pointer;
  white-space: nowrap;
  font-family: Roboto;
  font-size: $mobile-sm;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.15px;
  transition: $effectDuration;

  @include onTablet {
    font-size: $tablet-sm;
  }
}
.advanced_search_category:hover {
  background-color: $bg-color-active;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}
.advanced_search_category:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 8px;
  white-space: normal;
  text-align: left;
}
.selected {
  border: 1px solid $bg-color-active;
  background: $bg-color-light;
}
.btn {
  display: none;
}
.hidden_checkbox {
  display: none;
}
