@import '/src/styles/main.scss';


.searchInput {
  background: transparent;
  border: none;
  padding: 3px 0;
  width: 80%;
  margin: 0;
  outline: none;
  overflow: hidden;
  color: var(--Black, #434343);
  text-overflow: ellipsis;

  /* H5/Bold */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 0.1px;
}
