@import '../../../styles/utils/variables';
.MyAds{
    .container {
        background: #F0F0F0;
        border-radius: 16px;
        padding: 0px 24px 24px;
    }
   
}

.tabs {
    display: flex;
    padding: 24px 0 59px;
    justify-content: center;
    
    .tab {
        color: $color-dark-grey;
        font-family: $font-family-main;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        white-space: nowrap;
        padding: 10px;
        background-color: transparent;
        cursor: pointer;
        box-sizing: border-box;
        border:none;
        transition: color 0.1s, font-weight 0.1s;
        

        &:hover,
        &.active {
            color: $color-grey;
            font-weight: 600;
        }
    }
}

.tabContent{
    width: 100%;
}

.count{
    padding: 0px 6px;
    background: #E4E4E4;
    border-radius: 16px;
    color: #434343;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.1px;
}

.empty {
    text-align:center;
}