@import 'styles/main.scss';

.Filters{
    height: fit-content;
    padding-top: 52px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;

    &_container{
        padding: 0 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    &_title{
        @include title-styles;
        margin-bottom: 16px;
    }
}

@media (min-width: 768px) {
  .Filters {
    &_container {
      flex-direction: row;
    }
    &_title {
      margin-bottom: 0;
    }
  }
}

.Filters_button {
  border: none;
  background-color: white;
  border-radius: 20px;
  padding: 8px 14px;
  color: #606060;
}

.Filters_button:last-child {
  display: inline-flex;
  justify-content: center;
  gap: 8px;
}

.Filters_button:first-child {
  margin-right: 8px;
}

.Filters_buttons {
  align-self: center;
}

