@import '../../styles/main.scss';

.homeTop {
  background-color: $background-color-white;
  background-image: url('../../assets/images/test8.jpeg');
  background-position: 80% 50%;
  background-size: cover;
  height: 100vh;

  @media (min-width: $tablet-min-width) {
    background-position: 85% 40%;
    background-size: cover;
  }
}

// .container {
//   padding: 100px 20px;
//   max-width: 993px;
//   margin: 0 auto;

//   @media (min-width: 880px) {
//     padding-top: 150px
//   }
// }

.title {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;

  @media (min-width: 880px) {
    margin-top: -60px;
    font-size: 62px;
  }

  @media (min-width: $desktop-min-width) {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 62px;
  }
}

@media (min-width: $desktop-min-width) {
  .container_bottom {
    display: flex;
    justify-content: space-between;
    width: 769px;
  }
}

.select_bar {
  position: relative;
  box-sizing: border-box;
  max-width: 944px;
  display: flex;
  flex-direction: column;

  @media (min-width: 880px) {
    min-width: 768px;
    margin-right: 8px;
    display: grid;
    height: min-content;

    grid-template-columns: repeat(3, minmax(100px, 1fr));

    div:first-child button {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;

    }

    div:nth-child(2) button {
      border-radius: 0px;
    }

    div:last-child button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 20px;
      z-index: 3;

      right: calc(100% / 3);
      top: calc(48px / 2 - 10px);
      background: url('../../assets/icons/line.svg') no-repeat;
    }

    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 20px;
      z-index: 3;

      left: calc(100% / 3);
      top: calc(48px / 2 - 10px);
      background: url('../../assets/icons/line.svg') no-repeat;
    }
  }

}


.centered_container {
  @media (min-width: $mobile-min-width) {
    width: 100%;
    max-width: calc(100% - 10%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width:$desktop-min-width) {
    max-width: 850px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $desktop-min-width) {
  .centered_container {
    max-width: 850px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_button {
    display: flex;
    align-items: center;
    padding: 14px 24px;
    border-radius: 100px;
    height: 52px;
    line-height: 48px;

    background-color: $color-grey;
    color: $background-color-white;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;

    &_text {
      margin-right: 8px;
    }
  }

  &_button,
  &_more {
    border: none;
    cursor: pointer;
  }

  &_more {
    color: $background-color-white;
    background-color: $color-grey;
    border-radius: 100px;
    white-space: nowrap;
    height: 30px;
    line-height: 26px;

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;

    @media (min-width: $desktop-min-width) {
      margin-top: 12px;
    }
  }

  @media (min-width: $desktop-min-width) {
    flex-direction: column;
  }
}
