@import '../../styles/main.scss';

.homeTop {
  background-color: $background-color-white;
  background-image: url('../../assets/images/test8.jpeg');
  background-position: 80% 50%;
  background-size: cover;
  height: calc(100vh - 72px);

  @media (min-width: 880px) {
    height: calc(100vh - 80px);
    background-position: 85% 40%;
    background-size: cover;
  }
}

.title {
  margin-bottom: 40px;

  font-size: 32px;
  font-weight: 700;
  line-height: 36px;

  @media (min-width: 880px) {
    margin-bottom: 60px;
    font-size: 62px;
  }
}

.container {
  padding: 100px 20px;
  max-width: 993px;
  margin: 0 auto;

  @media (min-width: 880px) {
    padding-top: 150px
  }
}

@media (min-width: 992px) {
  .container_bottom {
    display: flex;
    justify-content: space-between;
    width: 952px;
  }
}

.select_bar {
  position: relative;
  box-sizing: border-box;
  max-width: 944px;
  display: flex;
  flex-direction: column;

  @media (min-width: 880px) {
    min-width: 768px;
    margin-right: 8px;
    flex-direction: row;

    div:first-child button {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    div:nth-child(2) button {
      border-radius: 0px;
    }

    div:last-child button {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 2px;
      height: 20px;
      z-index: 3;

      right: calc(100% / 3 - 5px);
      top: calc(48px / 2 - 10px);
      background: url('../../assets/icons/line.svg') no-repeat;
    }

    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 20px;
      z-index: 3;

      left: calc(100% / 3 + 6px);
      top: calc(48px / 2 - 10px);
      background: url('../../assets/icons/line.svg') no-repeat;
    }
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_button {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border-radius: 100px;
    height: 48px;
    line-height: 48px;

    background-color: $color-grey;
    color: $background-color-white;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;

    &_text {
      margin-right: 8px;
    }
  }

  &_button,
  &_more {
    border: none;
    cursor: pointer;
  }

    &_more {
    color: $background-color-white;
    background-color: $color-grey;
    border-radius: 100px;
    white-space: nowrap;
    height: 30px;
    line-height: 26px;

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;

    @media (min-width: 992px) {
      margin-top: 12px;
    }
  }

  @media (min-width: 992px) {
    flex-direction: column;
  }
}

