@import '/src/styles/main.scss';

.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  @include onTablet {
    width: 334px;
  }
  @include onDesktop {
    width: 400px;
  }
  .photo {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 240px;
    margin-bottom: 10px;
    @include onTablet {
      height: 251px;
      margin-bottom: 12px;
    }
    @include onDesktop {
      height: 300px;
      margin-bottom: 16px;
    }
  }
  .img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  .infoContainer {
    position: relative;
    width: 320px;
    @include onTablet {
      display: flex;
      flex-direction: column;
      width: 100%;    
    }
    @include onDesktop {
    }
  }
  .col {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @include onTablet {
      margin-bottom: 12px;
    }
    @include onDesktop {
      margin-bottom: 16px;
    }
  }
  .link {
    transition: text-decoration-color $effectDuration;
    text-decoration-color: transparent;
    &:hover {
      text-decoration-color: inherit;
    }
  }
  .title {
    width: 244px;
    height: 35px;
    font-family: Roboto;
    font-size: $mobile-lg;
    font-style: normal;
    font-weight: 500;
    // line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
    color: $color-medium-dark-gray;
    @include onTablet {
      width: 258px;
      font-size: $mobile-lg;
    }
    @include onDesktop {
      width: 372px;
    }
  }
  .price {
    font-family: Roboto;
    font-size: $mobile-xl;
    font-style: normal;
    font-weight: 700;
    // line-height: 120%;
    color: $color-black;
    margin-bottom: 8px;
    @include onTablet {
      font-size: $tablet-xl;
      font-weight: 700;
      // line-height: 26.4px;
      margin-bottom: 10px;
    }
    @include onDesktop {
      margin-bottom: 12px;
    }
  }
  .techSpecs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    .emptyIcon {
      margin-right: 8px;
    }
    @include onTablet {
      margin-bottom: 10px;
    }
    @include onDesktop {
      margin-bottom: 12px;
    }
  }
  .techSpec {
    width: 154px;
    display: flex;   
    color: $color-dark-grey;
    font-size: $mobile-sm;
    font-weight: 500;
    // line-height: 20px;
    letter-spacing: 0.15px;

    @include onTablet {
      padding-inline-end: 16px;
      font-size: $tablet-sm;
    }
    &:nth-child(2) {
      padding-inline-end: 0;
    }
    &:last-child {
      padding-inline-end: 0;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    @include onDesktop {
      gap: 8px;
    }
  }
  .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    flex-grow: 1;

    overflow: hidden;
    -ms-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-wrap: break-word;
  }
  .created {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $color-dark-grey;
    .clockIcon {
      margin-right: 8px;
    }
  }
}
.iconIsFavouriteContainer {
   // position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 32px;
  // width: 32px;
  height: 24px;
  width: 24px;
}
.likeBtn {
  width: 40px;
  height: 40px;
  // aspect-ratio: 1/1;
  border-radius: 50%;
  // box-shadow: $shadow-btn;
  border: none;
  background-color: $white-color;
  &:hover {
    background-color: $bg-hover-btn;
  }
  img {
    display: block;
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
}
.optionBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $bg-hover-btn;
  }
}

.optionMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 44px;
  right: 0;
  width: 240px;
  height: 106px;
  border: 1px solid $color-light;
  border-radius: 21px;
  background-color: $white-color;
  box-shadow: 0px 2px 4px 0px #0000000f;
  z-index: 1;
  padding: 10px 6px 10px 16px;
  button {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
    text-align: left;
    border: none;
    padding: 0;
  }
}
