@import '/src/styles/main.scss';
.Container {
  width: 360px; 
  margin: 0 auto;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 168px 20px 32px 20px;
  @include onTablet {
    width: 768px;
    padding: 192px 40px 32px 40px;   
  }
  @include onDesktop{
    width: 1440px;
    padding: 195px 96px 40px 96px;
  }
 
}
.title_container {
  position: fixed;
  display: flex; 
  width: 100%;
  top: 56px;
  left: 0;
  gap: 8px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
  background: $bg-color-light;
  z-index: 20;
  align-items: center;
  @include onTablet {
    flex-direction: unset;
    padding-top: 56px;
    padding-left: 40px;
    padding-right: 40px;

  }
}
.emptyFavorite {
  display: flex;  
  color: $color-black;
  font-family: Roboto;
  font-size: $mobile-3xl;
  font-style: normal;
  font-weight: 800;
  // line-height: 100%; 
  @include onTablet {
    font-size:$tablet-3xl;
    
  }
}
.list_cars {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 20px;
  @include onTablet {    
    row-gap: 28px;
    column-gap:20px;
    flex-direction: unset; 
    flex-wrap: wrap;
    margin-bottom: 24px;
  }
  @include onDesktop{
    row-gap: 32px;
    column-gap:24px;
    margin-bottom: 32px;
  }
}
.backBtn {
  width: 20px;
  height: 20px;
}
.svg_btn path{
  fill: $color-black;
}