@import '../../styles/main.scss';

.category_bar {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  @media (max-width: 992px) {
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  scrollbar-width: none;
}

.category {
  padding: 5px 16px;
  box-sizing: border-box;
  background-color: $bg-color-white;
  border: none;
  border-radius: 20px;
  color: $color-black;
  cursor: pointer;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.category:not(:last-child) {
  margin-right: 8px;
}

.container {
  position: relative;
  display: flex;
  margin-bottom: 12px;
  &__scroll_right {
    display: flex;
    padding: 10px;
    border: none;
    cursor: pointer;
    &.userPageScrollRight {
      display: none;
    }
    @media (min-width: 992px) {
      display: none;
    }
  }

  &__scroll_left {
    display: flex;
    padding: 10px;
    border: none;
    cursor: pointer;
    &.userPageScrollLeft {
      display: none;
    }
  }
}
//on advanced_search page
.advanced_search_container {
  width: 100%;
  margin-bottom: 0;
}
.advanced_search_category_bar {
  display: block;
  overflow-x: unset;
  scroll-behavior: unset;
}
.advanced_search_category {
  padding: 10px 16px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border: none;
  border-radius: 20px;
  color: #434343;
  cursor: pointer;
  white-space: nowrap;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.advanced_search_category:hover {
  background-color: #e4e4e4;
}
.advanced_search_category:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 8px;
  white-space: normal;
  text-align: left;
}
.selected {
  background-color: $bg-color-active;
  border: 1px solid $border-active;
  // color: $color-black;
}
.btn {
  display: none;
}

// userPage styles
.userPageContainer {
  margin-bottom: 32px;
}

.userPageCategory {
  padding: 10px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  border-radius: 0;
  color: $color-dark-grey;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.selected {
    background-color: transparent;
    color: inherit;
    border-bottom: 1px solid $color-grey;
  }
}

.userPageCategory:hover {
  color: $color-grey;
}

.userPageCategory:not(:last-child) {
  margin-right: 24px;
}
