@import '../../../../styles/main.scss';

.characteristicSection {
  margin-bottom: 32px;
}

.characteristicsTitle {
  font-family: 'Roboto', sans-serif;
  font-size: $mobile-2xl;
  margin-bottom: 20px;
  color: $color-medium-dark-gray;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 26px */
  @include onTablet {
    font-size: $tablet-2xl;
  }

  @include onDesktop {
    font-size: $desctop-2xl;
    margin-bottom: 24px;
  }
}

.characteristicsItem {
  display: flex;
  column-gap: 8px;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: $color-grey;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.characteristicsItemName {
  margin-bottom: 8px;
  color: $color-medium-dark-gray;
  font-family: 'Roboto', sans-serif;
  font-size: $mobile-xl;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  @include onTablet {
    font-size: $tablet-xl;
    width: 224px;
    margin-bottom: 0px;
  }

  @include onDesktop {
    font-size: $desctop-xl;
  }
}

.characteristicsItemValueContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  //   height: 32px;
  padding: 6px 16px;
  border-radius: 24px;
  background-color: $color-light;
  //   @include onTablet {
  //     font-size: $tablet-sm;
  //   }
  //   @include onDesktop {
  //     font-size: $desctop-sm;
  //   }
}
.characteristicsItemValueContainer p {
  color: $color-black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: $mobile-sm;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.15px;
  @include onTablet {
    font-size: $tablet-sm;
  }
  @include onDesktop {
    font-size: $desctop-sm;
  }
}
