@import '../../styles/utils/breakpoints';
.card {
  display: flex;
  flex-direction: column;
  // width: 320px;
  // @include onTablet {
  //   width: 334px;
  // }
  // @include onDesktop {
  //   width: 400px;
  // }

  .photo {
    display: block;
    width: 100%;
    height: 240px;
    margin-bottom: 10px;
    @include onTablet {
      height: 251px;
      margin-bottom: 12px;
    }
    @include onDesktop {
      height: 300px;
      margin-bottom: 16px;
    }
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .col {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    // @include onDesktop {
    //   margin-bottom: 5px;
    // }
  }

  .link {
    display: block;
    transition: text-decoration-color $effectDuration;
    // text-decoration: underline;
    text-decoration-color: transparent;

    &:hover {
      text-decoration-color: inherit;
    }
  }

  .title {
    font-family: Roboto;
    font-size: $tablet-xl;
    font-weight: 700;
    line-height: 1.65rem;
    color: $color-black;   
    @include onDesktop {
      width: 324px;
      
    }
  }

  .price {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
    margin-bottom: 5px;
    color: $color-black;   
    // @include onDesktop {
    // }
  }

  .techSpecs {
    display: flex;
    // align-items: center;
    // flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    @include onDesktop {
      margin-bottom: 12px;
      gap: 12px;
    }
  }
  .emptyIcon {
    margin-right: 8px;
  }
  .techSpec {
    display: flex;
    align-items: center;
    position: relative;
    // padding-inline-end: 1.125rem;
    color: $color-dark-grey;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.00625rem;
    @include onDesktop {
      width: 194px;
    }
    &:last-child {
      padding-inline-end: 0;
    }

    // &:not(:last-child)::after {
    //   content: '';
    //   position: absolute;
    //   top: 50%;
    //   right: 0.5rem;
    //   transform: translateY(-50%);
    //   display: block;
    //   width: 0.125rem;
    //   height: 0.125rem;
    //   background-color: $color-dark-grey;
    //   border-radius: 50%;
    // }
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  @include onDesktop {
    gap: 8px;
  }
}
.iconIsFavouriteContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transition: $effectDuration;
}

.likeBtn {
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  // box-shadow: $shadow-btn;
  border: none;

  // &:hover {
  //   background-color: $bg-hover-btn;
  // }

  img {
    display: block;
    width: 16px;
    height: 16px;
    object-fit: cover;
  }
}
.favorite_active path {
  fill: $bg-color-white;
}
.favorite path {
  fill: $color-black;
}
.iconIsFavouriteContainer:hover{
  background: $bg-color-active;
}
.iconIsFavouriteContainer:active{
  background: $border-active;
}

