@import '../../styles/utils/breakpoints';

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  .photo {
    display: block;
    flex-shrink: 0;
    width: 100%;
    height: 17.5rem;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .col {
    display: flex;
    justify-content: space-between;
  }

  .link {
    display: block;
    transition: text-decoration-color $effectDuration;
    text-decoration: underline;
    text-decoration-color: transparent;

    &:hover {
      text-decoration-color: inherit;
    }
  }

  .title {
    width: calc(100% - 32px);
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.65rem;
  }

  .price {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.75rem;
  }

  .techSpecs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .techSpec {
    position: relative;
    padding-inline-end: 1.125rem;
    color: $color-dark-grey;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.00625rem;

    &:last-child {
      padding-inline-end: 0;
    }

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0.5rem;
      transform: translateY(-50%);
      display: block;
      width: 0.125rem;
      height: 0.125rem;
      background-color: $color-dark-grey;
      border-radius: 50%;
    }
  }
}

.likeBtn {
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: $shadow-btn;
  border: none;

  &:hover {
    background-color: $bg-hover-btn;
  }

  img {
    display: block;
    width: 16px;
    height: 16px;
    object-fit: cover;
  }
}
