@import '../../../styles/utils/variables';

.userInfoSection{
 background-color: $color-light;
 padding: 16px;
 border-radius: 16px;

 @media (min-width: 768px) {
  width:304px;
  height: fit-content;
}
}

.userInfoTitle{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 12px;
}

.userProfileContainer{
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 12px;
}

.userAvatarContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.userAvatar{
  object-fit: contain;
}

.userNameContainer{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
}

.userName{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
}

.userRegistrationDate{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}

.userContactsContainer{
  display: flex;
  flex-direction: row;
  gap:8px;
  margin-bottom: 8px;
}

.messagerLink{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: $white-color;
  border-radius: 50%;
}

.messagerIcon{
  width: 24px;
  height: 24px;
}

.phoneLink{
  width:184px;
  height: 40px;
  border-radius: 32px;
  background-color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:8px;
}

.phoneIcon{
  width: 20px;
  height: 20px;
}

.chatButton{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:8px;
  width:100%;
  height: 44px;
  border-radius: 32px;
  border: none;
  background-color: $background-color-white;
}

.buttonChatText{
  font-family: 'Roboto', sans-serif;
  color:$color-grey;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.chatIcon{
  width: 20px;
  height: 20px;
}