@use '../../styles/utils/index' as *;

#scrollToTopButton {
  display: none;
}

.Button {
  position: fixed;
  bottom: 0%;
  right: 0%;
  z-index: 3;
  opacity: 0;
  transform: translateX(100%);

  background-color: var(--main-background-color);
  text-transform: none;
  gap: 16px;
  cursor: pointer;
  transition: all 0.3s ease;

  &__text {
    transition: all 0.3s ease;
  }

  &__arrow {
    width: 40px;
    height: 40px;
  }
}

.show {
  opacity: 1;
  transform: translateX(0);
}

