@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Roboto:wght@400;500&display=swap');

@import './utils/variables';
@import './utils/reset';
@import './utils/normalize';
@import './utils/breakpoints';
@import './utils/mixins';

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  font-size: $font-size-root;
  font-family: $font-family-main;
  color: $color-grey;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.swiper-pagination>.swiper-pagination-bullet{
  height: 6px;
  width: 6px;
  background-color:#BCC2C2;
  opacity: 1;
}

.swiper-pagination>.swiper-pagination-bullet-active{
  background-color:#FEFFFF;
  opacity: 1;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 91% !important; 

  @media (min-width: 768px) {
    width: 96% !important; 
  }
}

.modalIsOpen {
  overflow: hidden;
}

body.noScroll {
  overflow: hidden;
}
