@import '../../../../../styles/main.scss';

.card {
  display: flex;
  flex-direction: column;
  width: 320px;

  @include onTablet {
    flex-direction: row;
    column-gap: 16px;
    width: 100%;
    height: 240px;
  }

  & .imgThumb {
    height: 200px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;

    @include onTablet {
      height: 240px;
      width: 384px;
      margin-bottom: 0;
    }

    & img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    row-gap: 11px;

    color: var(--Black, #434343);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;

    @include onTablet {
      width: 288px;
    }

    @include onDesktop {
      width: 496px;
    }

    &_title {
      width: 288px;
      height: 26.4px;
      overflow: hidden;
      word-wrap: break-word;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
        cursor: default;
      }
    }

    &_title,
    &_price {
      @include onTablet {
        font-size: 22px;
        font-weight: 700;
        line-height: 120%;
      }
    }

    &_meta {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      color: $color-dark-grey;

      /* text */
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.15px;

      &_first_line,
      &_second_line {
        display: flex;
        gap: 8px;
      }
    }

    &_views,
    &_phoneViews,
    &_likes,
    &_createdAt,
    &_updatedAt {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 8px;
    }

    &_description {
      color: var(--Black, #434343);
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;

      max-height: 128px;
      overflow: hidden;
      text-overflow: ellipsis;

      display: -webkit-box;
      line-clamp: 3;
      -ms-line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      word-wrap: break-word;

      @include onTablet {
        height: 50px;
        line-clamp: 2;
        -ms-line-clamp: 2;
        -webkit-line-clamp: 2;
      }
    }
  }
  &_buttons {
    @include onTablet {
      margin-top: auto;
    }
  }
}

.button {
  color: var(--Color, #797979);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 24px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:first-child {
    background: #e4e4e4;
    color: #434343;
    margin-right: 12px;
  }

  &:hover {
    border: 1px solid var(--Black, #434343);
    background: #e4e4e4;
    color: #434343;
  }
}

.icon {
  width: 16px;
  height: 16px;
}
