@import '../../styles/utils/breakpoints';
@import '../../styles/utils/variables';

.slider {
  width: 100%;
  .swiper {
    width: 320px;
    // gap: 16px;
    @include onTablet {
      width: 688px;
    }
    @include onDesktop {
      width: 1248px;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    user-select: none;
    max-width: $mobile-min-width;
    padding: 0 20px;
    margin-inline: auto;
    @include onTablet {
      max-width: $tablet-min-width;
      // margin-inline: auto;
      box-sizing: border-box;
      padding: 0 40px;
    }
    @include onDesktop {
      max-width: $desktop-min-width;
      padding: 0 96px;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 1.2rem;
  }

  .title {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 120%;

    @include onTablet {
      font-size: 2rem;
      line-height: 100%;
    }
  }

  .navBtns {
    display: none;

    @include onTablet {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }
  }

  .slide {
    display: block;
    box-sizing: border-box;
    // width: 264px;

    @include onTablet {
      max-width: 520px;
      width: 100%;
    }

    &:first-child {
      // margin-inline-start: $mobile-padding;
    }

    &:last-child {
      margin-inline-end: $mobile-padding;
    }

    &:first-child,
    &:last-child {
      @include onTablet {
        margin-inline: 0;
      }
    }
  }
}

.squareBtn {
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: $shadow-btn;
  border: none;

  &:hover {
    background-color: $bg-hover-btn;
  }

  img {
    display: block;
    width: 10px;
    height: 20px;
    object-fit: cover;
  }

  &.squareBtn_left {
    img {
      margin-inline-end: 2px;
    }
  }

  &.squareBtn_right {
    img {
      margin-inline-start: 2px;
    }
  }
}
