@import '../../styles/utils/breakpoints';
@import '../../styles/utils/variables';

.slider {
  width: 100%;

  .content {
    user-select: none;
    max-width: $desktop-min-width;

    @include onTablet {
      margin-inline: auto;
      padding-inline: $tablet-padding;
    }
  }

  .title {
    margin-block-end: 1rem;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 120%;
  }

  .slide {
    display: block;
    box-sizing: border-box;
    width: 264px;

    @include onTablet {
      max-width: 520px;
      width: 100%;
    }

    &:first-child {
      margin-inline-start: $mobile-padding;
    }

    &:last-child {
      margin-inline-end: $mobile-padding;
    }

    &:first-child,
    &:last-child {
      @include onTablet {
        margin-inline: 0;
      }
    }
  }
}
