@import '../../styles/utils/variables';
@import '/src/styles/main.scss';

.AdvSearchFilter {
  background: hsl(0, 0%, 100%);
  height: 100%;
  // @include onTablet {
  //   padding-top: 104px;
  // }
  &_container {
    width: $mobile-min-width;
    padding: 52px 20px;
    margin: 0 auto;

    @include onTablet {
      width: $tablet-min-width;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      flex-direction: column;
      padding: 64px 40px;
    }
    @include onDesktop {
      width: $desktop-min-width;
      padding: 80px 96px;
    }
  }
  // &_title {
  //   @include title-styles;
  // }
}
.itemdropdownbox {
  width: 320px;
  @include onTablet {
    width: 384px;
  }
  @include onDesktop {
    width: 400px;
  }
}

.AdvSearchFilter_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.list {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 1248px;
  }
}
.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include onTablet {
    width: 140px;
    margin-bottom: 0;
    margin-right: 20px;
    align-items: start;
  }
  @include onDesktop {
    width: 188px;
    margin-right: 24px;
  }

  & h2 {
    font-size: $mobile-xl;
    font-weight: 700;
    line-height: 120%;
    @include onTablet {
      font-size: $tablet-xl;
    }
  }

  &.openBlock {
    margin-bottom: 8px;
    @include onTablet {
      margin-bottom: 0;
    }
  }
}

.listSelect {
  @include onTablet {
    display: flex;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    display: flex;
    width: 1248px;
  }
}

.listSelect .title {
  @include onTablet {
    margin-bottom: 0;
  }
}
.bargainInput {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:checked ~ label::before {
    background: url(../../assets/icons/checked_box.svg) center;
  }
}

.bargainLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  background-color: $border-gray;
  border-radius: 20px;
  cursor: pointer;

  font-size: $mobile-sm;
  @include onTablet {
    font-size: $tablet-sm;
    width: 280px;
    height: 44px;
    border-radius: 24px;
  }
  @include onDesktop {
    width: 400px;
  }

  &::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    padding: 8px;
    background: url(../../assets/icons/check_box.svg) center;
  }
}

.mobileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  transition: background-color $effectDuration;

  &.active {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: $bg-color-active;
  }
  &:active {
    background-color: $border-active;
    & path {
      fill: $bg-color-white;
    }
  }
}
@include onTablet {
  .mobileButton {
    display: none;
  }
}
.dropdownContainer {
  width: 320px;
  @include onDesktop {
    width: 400px;
  }
}

.listItem {
  width: 320px;
  gap: 8px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  @include onTablet {
    width: 528px;
  }
  @include onDesktop {
    width: 1036px;
  }
}
.typeCarBody {
  display: flex;
  width: 320px;
  // justify-content: unset;
  margin-bottom: 32px;
  flex-direction: column;
  @include onTablet {
    flex-direction: unset;
    width: 688px;
    justify-content: space-between;
    // margin-bottom: 32px;
  }
  @include onDesktop {
    width: 1248px;
  }
}

/*блок Бренд/Модель/Рік початок */
.selectBrand {
  display: flex;
  flex-direction: column;
  width: 320px;
  // justify-content: unset;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    width: 688px;
    justify-content: space-between;
  }
  @include onDesktop {
    width: 1248px;
  }
}
.listItemBrand {
  width: 320px;
  @include onTablet {
    width: 528px;
    display: flex;
  }
  @include onDesktop {
    width: 1036px;
  }
}
.itemDropdownBoxAddBrand {
  width: 290px;
}
/*Тип палива*/
.listTypeFuil {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 1248px;
  }
}
/*Коробка передач */
/*Колір */
.listColor {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 1248px;
  }
}
.btnShowMore {
  width: 139px;
  height: 40px;
  padding: 12px 10px;
  color: $color-black;
  background-color: $bg-color-white;
  border-radius: 32px;
  border: 1px solid $color-black;

  font-family: Roboto;
  // font-size: 16px;
  font-weight: 500;

  transition: $effectDuration;
}
.btnShowMore:hover {
  border: 1px solid $border-active;
  background-color: $bg-color-active;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}
.btnShowMore:active {
  border: 1px solid $bg-color-white;
  background: $color-dark-blue;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  color: $bg-color-white;
}

/*Технічний стан */
.listTechCondition {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 1248px;
  }
}
/*пробіг*/
.listCarMileage {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 1248px;
  }
}

/*Потужність двигуна*/
.listMotorPower {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 1248px;
  }
}
/*Привід*/
.listMachineDrive {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 1248px;
  }
}
/*Кількість дверей */
.howManyDoors {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 1248px;
  }
}
/*Кількість місць */
.listNumberSeats {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 1248px;
  }
}
/*Кількість осей */
.listNumberAxles {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 1248px;
  }
}
/*Конфігурація коліс */
.listWheelConfiguration {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    justify-content: space-between;
    width: 688px;
    flex-direction: unset;
  }
  @include onDesktop {
    width: 1248px;
  }
}
/*Країна з якої достваили*/
.listCountryDelivery {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 1248px;
  }
}
.itemdropdowncontainer {
  width: 320px;
  @include onTablet {
    width: 528px;
  }
  @include onDesktop {
    width: 1036px;
  }
}
/*Заголовок*/
.listSelectTitle {
  display: flex;
  flex-direction: column;
  width: 320px;
  // margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 1248px;
  }
}
.itemTypeYes {
  position: absolute;
  width: 187px;
  height: 32px;
  background-color: #f0f0f0;
  padding: 6px 81px;
  border-radius: 32px;
  color: black;
  & input {
    display: none;
  }
  border: none;
  top: 2px;
  right: 2px;
}
.itemTypeNo {
  position: absolute;
  width: 187px;
  height: 32px;
  background-color: #f0f0f0;
  padding: 6px 81px;
  border-radius: 32px;
  & input {
    display: none;
  }
  border: none;
  left: 2px;
  top: 2px;
  z-index: 1;
  color: black;
}
.itemTypeNo:hover,
.itemTypeYes:hover {
  background-color: #e4e4e4;
}
.listItemSelectTitle {
  position: relative;
  width: 320px;
  height: 36px;
  border-radius: 32px;
  background-color: #f0f0f0;
  // margin-bottom: 32px;
  @include onTablet {
    width: 380px;
    background-color: #f0f0f0;
    margin-bottom: 0;
  }
}
// блок з кнопками Показати - Скинути фільтр
.resultFilter {
  position: sticky;
  bottom: 0;
  z-index: 100;
  height: 88px;
  background: $color-black;
  & .resultFilter_container {
    display: flex;
    column-gap: 30px;
    width: $mobile-min-width;
    padding: 24px 20px;
    margin: 0 auto;

    @include onTablet {
      padding: 24px 40px;
      width: $tablet-min-width;
    }
    @include onDesktop {
      padding: 24px 96px;
      width: $desktop-min-width;
    }
  }
  @include onTablet {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  @include onDesktop {
    flex-direction: unset;
    height: 88px;
  }
}
.resultFilterShow {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 132px;
  height: 40px;
  background-color: $bg-color-light;
  color: #434343;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border-radius: 32px;
  padding: 8px 16px;
  border: 1px solid transparent;
  transition: $effectDuration;
}

.resultFilterShow:hover {
  border: 1px solid $border-active;
  text-decoration: none;
  background: $bg-color-active;
  color: #434343;
}
.resultFilterShow:active {
  background-color: $color-dark-blue;
  color: #feffff;
  border-radius: 32px;
  border: 1px solid $bg-color-white;
  & path {
    fill: $bg-color-white;
  }
}

.resultFilterReset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  height: 40px;
  // background: inherit;
  border-radius: 32px;
  padding: 8px 14px;
  border: none;
  color: $bg-color-white;
  transition: $effectDuration;

  &:hover {
    border: 1px solid $border-active;
    background-color: $bg-color-active;
    color: $color-black;
  }
  &:active {
    border: 1px solid $bg-color-white;
    background-color: $color-dark-blue;
    color: $bg-color-white;
  }
}

.selected {
  background-color: #797979;
  color: #feffff;
}
.hide {
  display: none;
}
// .active {
//   background-image: url('../../assets/icons/vector-arrow-up.svg');
//   background-repeat: no-repeat;
//   background-position: center;
// }

.type:checked + label {
  background: #797979;
  color: #ffffff;
}
.itemType:hover {
  background: #797979;
  color: #ffffff;
}
