@import '../../styles/utils/variables';
@import '/src/styles/main.scss';

.AdvSearchFilter {
  background: hsl(0, 0%, 100%);
  height: 100%;
  @include onTablet {
    padding-top: 104px;
  }
  &_container {
    width: 360px;
    padding-top: 20px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    @include onTablet {
      width: 768px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      flex-direction: column;
      padding-top: 32px;
      padding-right: 40px;
      padding-left: 40px;
      padding-bottom: 32px;
    }
    @include onDesktop {
      padding-top: 40px;
      width: 1024px;
      padding-bottom: 40px;
    }
  }
  &_title {
    @include title-styles;
  }
}
.itemdropdownbox {
  width: 320px;
  @include onTablet {
    width: 384px;
  }
}

.AdvSearchFilter_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.list {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
    height: 88px;
  }
  @include onDesktop {
    width: 100%;
  }
}
.title {
  position: relative;
}

.listSelectTitle .title {
  margin-bottom: 16px;
  @include onTablet {
    margin-bottom: 0;
  }
}

.mobileButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}
@include onTablet {
  .mobileButton {
    display: none;
  }
}
.dropdownContainer {
  width: 320px;
}
h2 {
  color: #434343;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  @include onDesktop {
    font-size: 20px;
  }
}
.listItem {
  width: 320px;
  gap: 8px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include onTablet {
    width: 448px;
  }
  @include onDesktop {
    width: 704px;
  }
}
.typeCarBody {
  display: flex;
  width: 320px;
  // justify-content: unset;
  margin-bottom: 32px;
  flex-direction: column;
  @include onTablet {
    flex-direction: unset;
    width: 688px;
    justify-content: space-between;
    // margin-bottom: 32px;
  }
  @include onDesktop {
    width: 944px;
  }
}

/*блок Бренд/Модель/Рік початок */
.selectBrand {
  display: flex;
  flex-direction: column;
  width: 320px;
  // justify-content: unset;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    width: 688px;
    justify-content: space-between;
  }
  @include onDesktop {
    width: 944px;
  }
}
.listItemBrand {
  width: 320px;
  @include onTablet {
    width: 448px;
    display: flex;
  }
  @include onDesktop {
    width: 704px;
  }
}
.itemDropdownBoxAddBrand {
  width: 290px;
}
/*Тип палива*/
.listTypeFuil {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 944px;
  }
}
/*Коробка передач */
/*Колір */
.listColor {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 944px;
  }
}
.btnShowMore {
  width: 139px;
  height: 40px;
  padding: 12px 10px;
  color: #434343;
  background-color: #feffff;
  border-radius: 32px;
  border: 1px solid #434343;
}
.btnShowMore:hover {
  background-color: #e4e4e4;
  color: #434343;
}

/*Технічний стан */
.listTechCondition {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 944px;
  }
}
/*пробіг*/
.lisCarMileage {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 944px;
  }
}

/*Потужність двигуна*/
.listMotorPower {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 944px;
  }
}
/*Привід*/
.listMachineDrive {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 944px;
  }
}
/*Кількість дверей */
.howManyDoors {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 944px;
  }
}
/*Кількість місць */
.listNumberSeats {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 944px;
  }
}
/*Кількість осей */
.listNumberAxles {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 944px;
  }
}
/*Конфігурація коліс */
.listWheelConfiguration {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    justify-content: space-between;
    width: 688px;
    flex-direction: unset;
  }
  @include onDesktop {
    width: 944px;
  }
}
/*Країна з якої достваили*/
.listCountryDelivery {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 944px;
  }
}
.itemdropdowncontainer {
  width: 320px;
  @include onTablet {
    width: 448px;
  }
  @include onDesktop {
    width: 704px;
  }
}
/*Заголовок*/
.listSelectTitle {
  display: flex;
  flex-direction: column;
  width: 320px;
  // margin-bottom: 32px;
  @include onTablet {
    flex-direction: unset;
    justify-content: space-between;
    width: 688px;
  }
  @include onDesktop {
    width: 944px;
  }
}
.itemTypeYes {
  position: absolute;
  width: 187px;
  height: 32px;
  background-color: #f0f0f0;
  padding: 6px 81px;
  border-radius: 32px;
  color: black;
  & input {
    display: none;
  }
  border: none;
  top: 2px;
  right: 2px;
}
.itemTypeNo {
  position: absolute;
  width: 187px;
  height: 32px;
  background-color: #f0f0f0;
  padding: 6px 81px;
  border-radius: 32px;
  & input {
    display: none;
  }
  border: none;
  left: 2px;
  top: 2px;
  z-index: 1;
  color: black;
}
.itemTypeNo:hover,
.itemTypeYes:hover {
  background-color: #e4e4e4;
}
.listItemSelectTitle {
  position: relative;
  width: 320px;
  height: 36px;
  border-radius: 32px;
  background-color: #f0f0f0;
  // margin-bottom: 32px;
  @include onTablet {
    width: 380px;
    background-color: #f0f0f0;
    margin-bottom: 0;
  }
}
// блок з кнопками Показати - Скинути фільтр
.resultFilter {
  position: sticky;
  bottom: 0;
  z-index: 100;
  background: $color-black;
  & .resultFilter_container {
    display: flex;
    column-gap: 30px;
    width: $mobile-min-width;
    padding: 24px 20px;
    height: 88px;
    margin: 0 auto;
  }
  @include onTablet {
    width: 100%;
    height: 164px;
    justify-content: space-around;
    align-items: center;
  }
  @include onDesktop {
    flex-direction: unset;
    height: 88px;
  }
}
.resultFilterShow {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 132px;
  height: 40px;
  background-color: $bg-color-light;
  color: #434343;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  border-radius: 32px;
  padding: 8px 16px;
  border: 1px solid transparent;
}

.resultFilterShow:hover {
  border: 1px solid $border-active;
  text-decoration: none;
  background: $bg-color-active;
  color: #434343;
}
.resultFilterShow:active {
  background-color: $color-dark-blue;
  color: #feffff;
  border-radius: 32px;
  border: 1px solid $bg-color-white;
  & path {
    fill: $bg-color-white;
  }
}

.resultFilterReset {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  height: 40px;
  // background: inherit;
  border-radius: 32px;
  padding: 8px 14px;
  border: none;
  color: $bg-color-white;

  &:hover {
    border: 1px solid $border-active;
    background-color: $bg-color-active;
    color: $color-black;
  }
  &:active {
    border: 1px solid $bg-color-white;
    background-color: $color-dark-blue;
    color: $bg-color-white;
  }
}

.selected {
  background-color: #797979;
  color: #feffff;
}
.hide {
  display: none;
}
.active {
  background-image: url('../../assets/icons/vector-arrow-up.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.type:checked + label {
  background: #797979;
  color: #ffffff;
}
.itemType:hover {
  background: #797979;
  color: #ffffff;
}
