@import '/src/styles/main.scss';
.imgCard {
  position: relative;
  border-radius: 8px;
  background: #e4e4e4;
  width: 150px;
  height: 90px;
  box-sizing: border-box;
  overflow: hidden;
  @include onTablet {
    width: 224px;
    height: 126px;
  }
  @include onDesktop {
    width: 234px;
    height: 146px;
  }
}
.imgCard_user {
  position: relative;
  border-radius: 8px;
  background: #e4e4e4;
  box-sizing: border-box;
  overflow: hidden;
  width: 312px;
  height: 176px;
  // min-width: 312px;
  // max-width: 312px;
  // min-height: 176px;
  @include onTablet {
    width: 192px;
    height: 108px;
  }  
}
.imgCard > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box_input {
  position: absolute;
  display: flex;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  top: 5px;
  left: 6px;
  width: 87px;
  height: 20px;
  border-radius: 4px;
  background: var(--White, #feffff);
}
.label_title {
  color: var(--Dark-Gray, #606060);
  /* text */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.15px;
  border-radius: 4px;
  background: var(--White, #feffff);
}
.replay_btn {
  padding: 0px;
  position: absolute;
  top: 7px;
  left: 92px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background: var(--White, #feffff);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.close_btn {
  position: absolute;
  padding: 0px;
  top: 5px;
  right: 6px;
  width: 16px;
  height: 16px;
  background-color: #feffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.add_foto_btn {
  padding: 0px;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}
.hidden {
  display: none;
}
