@import '../../styles/main.scss';
.container {
  width: 360px;
  padding: 20px;
  // margin-top: 66px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  @include onTablet {
    padding: 40px;
    // margin: 66px auto 0px;
    width: 768px;
  }
  @include onDesktop {
    width: 1440px;
    padding: 32px 96px;
  }
}
.title_container {
  width: 360px;
  gap: 16px;
  margin: 0 auto;
  padding: 40px 20px 16px 20px;
  @include onTablet {
    width: 768px;
    padding: 52px 40px 16px 40px;
  }
  @include onDesktop {
    width: 1440px;
    padding: 64px 96px 20px 96px;
  }
}
.btn_back {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  @include onTablet {
    width: 24px;
    height: 24px;
  }
  transition: box-shadow 0.3s ease;
}
.btn_back:hover {
  @include onTablet {
    display: flex;
    justify-content: center;
    border-radius: 32px;
  }
  background: #f0f0f0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06), 0px 0px 0px 4px #f0f0f0;
}
.title {
  color: $color-black;
  font-family: Roboto;
  font-size: $mobile-3xl;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  // margin-right: 20px;
  @include onTablet {
    font-size: $tablet-3xl;
  }
  @include onDesktop {
    font-size: $desctop-3xl;
  }
}
.user_info_container {
  // width: 320px;
  // height: 152px;
  padding: 24px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #f0f0f0;
  margin-bottom: 16px;
  @include onTablet {
    width: 100%;
  }
}
.wrapper {
  width: 100%;
  display: flex;
  // gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.user_title {
  color: #434343;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 4px;
  @include onTablet {
    margin-bottom: 12px;
    font-size: 32px;
  }
}
.img_container {
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  background: #434343;
  border-radius: 50%;
  @include onTablet {
    width: 80px;
    height: 80px;
  }
  @include onDesktop {
    width: 96px;
    height: 96px;
  }
}
.no_img {
  background: #434343;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  @include onTablet {
    width: 95px;
    height: 95px;
  }
}
.user_photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.btn_subscription {
  color: #f0f0f0;
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  background: #434343;
}
.text {
  color: $color-black;
  font-family: Roboto;
  font-size: $mobile-sm;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  @include onTablet {
    font-size: $tablet-sm;
  }
}
.category_container {
  display: flex;
  column-gap: 20px;
  padding: 8px 0;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 24px;
  scrollbar-width: none;
  @include onTablet {
    justify-content: center;
  }
}
.tab {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.15px;
  padding: 8px 0;
  color: $color-dark-grey;
  @extend %tab-styles;
}
.count {
  border-radius: 5px;
  padding: 0px 6px;
  background: $background-color-white;
  color: $color-grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
}
.item {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  @include onTablet {
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 20px;
  }
  @include onDesktop {
    gap: 24px;
  }
}
.header_container {
  padding-top: 66px;
  width: 100%;
  background-color: $bg-color-light;
  margin: 0 auto;
}
.wrapper_title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.svg_back path {
  fill: $color-black;
}
