$mobile-min-width: 20rem;
$tablet-min-width: 53.125rem;
$desktop-min-width: 80rem;

$mobile-padding: 1.25rem;
$tablet-padding: 5rem;

$color-grey: #434343;
$color-dark-grey: #606060;

$font-size-root: 16px;
$font-family-main: 'Roboto', sans-serif;
$effectDuration: 0.3s ease;
