$mobile-min-width: 22.5rem;
$tablet-min-width: 48rem;
$desktop-min-width: 64rem;

$mobile-padding: 1.25rem;
$tablet-padding: 2rem;

$color-black: #000000;
$color-grey: #434343;
$color-dark-grey: #606060;
$bg-hover-btn: #C1C1C1;
$background-color-white: #E4E4E4;
$color-hover-border: #8A8B8B;
$white-color: #FEFFFF;
$hover-gray: #797979;
$color-light: #F0F0F0;
$color-text-grey: #8A8B8B;

$font-size-root: 16px;
$font-family-main: 'Roboto',
sans-serif;

$effectDuration: 0.3s ease;
$shadow-btn: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);

$color-red: #f43d3d;

%form-label {
  position: absolute;
  font-family: $font-family-main;
  font-size: 11px;
  margin-left: 13px;
  padding: 3px 6px;
  background-color: $white-color;
  border-radius: 12px;
  z-index: 1;
}

%form-error-label {
  bottom: -14px;
  color: #f43d3d;
  font-family: $font-family-main;
  font-size: 11px;
  margin-left: 10px;
}

%form-field {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid $background-color-white;
  border-radius: 32px;
  padding: 10px 20px;

  &::placeholder {
    font-family: $font-family-main;
    font-size: 14px;
    color: $color-black;
  }

  &:focus {
    outline: none;
  }
}

%form-button {
  width: 100%;
  height: 52px;
  border-radius: 32px;
  font-family: $font-family-main;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border: 1px solid $color-grey;
  cursor: pointer;
}

%link {
  display: inline-block;
  color: #797979;
  text-decoration: underline;
}

%form-top-styles {
  font-family: $font-family-main;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: $hover-gray;
  margin-bottom: 32px;
}

%tab-styles {
  color: $color-dark-grey;
  font-family: $font-family-main;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  transition: color 0.1s, font-weight 0.1s;


  &:hover,
  &.active {
    color: $color-grey;
    font-weight: 600;
  }
}

@mixin title-styles {
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  color: #434343;
  margin-bottom: 12px;
}

@mixin form-container-styles {
  margin-top: 43px;
  height: fit-content;
  width: 320px;
  display: flex;
  flex-direction: column;
}

@mixin form-inputContainer-styles {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0;
  gap: 2px;
}

@mixin form-field-styles {
  @extend %form-field;
  margin-bottom: 24px;

  &_error {
    color: $color-red;
    border: 1px solid red;
  }
}

@mixin form-button-styles {
  @extend %form-button;
  background-color: $color-grey;
  color: $white-color;
}
