$mobile-min-width: 22.5rem;
$tablet-min-width: 48rem;
$desktop-min-width: 64rem;

$mobile-padding: 1.25rem;
$tablet-padding: 2rem;

$color-grey: #434343;
$color-dark-grey: #606060;
$bg-hover-btn: #C1C1C1;
$background-color-white: #E4E4E4;
$color-hover-border: #8A8B8B;
$white-color: #FEFFFF;
$hover-gray: #797979;

$font-size-root: 16px;
$font-family-main: 'Roboto', sans-serif;

$effectDuration: 0.3s ease;
$shadow-btn: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
