// @import '../../styles/utils/variables';
@import '/src/styles/main.scss';

.section {
  padding-top: 68px;
}
.container {
  width: 360px;
  margin: 0 auto;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffff;
  @include onTablet {
    width: 768px;
    padding-top: 28px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @include onDesktop {
    padding-top: 32px;
    width: 1440px;
    padding-left: 96px;
    padding-right: 96px;
  }
}
.mainTitle {
  color: $color-black;
  /* H1 */
  font-family: Roboto;
  font-size: $mobile-3xl;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 32px */
  @include onTablet {
    font-size: $tablet-3xl;
  }
  @include onDesktop {
    font-size: $desctop-3xl;
  }
}
.title {
  color: var(--Black, #434343);
  /* Title 3/Bold */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  margin-bottom: 16px;
}
.boxPhone {
  margin-bottom: 32px;
  @include onTablet {
    display: flex;
    justify-content: space-between;
  }
}
.boxtitle {
  display: flex;
  justify-content: space-between;
}
.titlePhone {
  color: var(--Black, #434343);
  /* Title 4/Bold */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 22px */
  margin-bottom: 16px;
}
.mobileButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
}
.wrapper_item {
  width: 100%;
  @include onTablet {
    width: 448px;
  }
  @include onDesktop {
    width: 704px;
  }
}
.item {
  position: relative;
  width: 100%;
  @include onTablet {
    width: 384px;
  }
}
.inputPhone {
  width: 100%;
  display: flex;
  padding: 10px var(--Border, 20px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid var(--light-gray, #e4e4e4);
  background: var(--Light, #f0f0f0);
  outline: none;
}
.inputPhone_withStaticValue {
  width: 100%;
  display: flex;
  padding: 9px 51px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid var(--light-gray, #e4e4e4);
  background: var(--Light, #f0f0f0);
  outline: none;
}
.inputVincodeValid {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid var(--light-gray, green);
  background: var(--Light, #f0f0f0);
}
.inputVincodeInValid {
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid var(--light-gray, red);
  background: var(--Light, #f0f0f0);
}
.blocTitleFoto {
  width: 100%;
  margin-bottom: 16px;
}
.boxTitleFoto {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}
.titleAddFoto {
  color: var(--Black, #434343);
  /* Title 3/Bold */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
}
.addMore {
  border: none;
  color: var(--Color, #797979);
  text-align: center;
  /* H5/Bold */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.1px;
}
.titleHelpText {
  color: var(--Black, #434343);
  /* Body Small */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.photo {
  &_errorMessage {
    position: absolute;
    left: 0;
    @extend %form-error-label;
  }
}
.VinCode {
  justify-self: center;

  &_errorMessage {
    @extend %form-error-label;
  }

  &_field {
    @include form-field-styles;
    margin-bottom: 0;
  }

  &_label {
    position: absolute;
    top: -8px;
    color: $hover-gray;
    @extend %form-label;
  }

  &_red {
    @extend .VinCode_label;
    color: red;
  }
}
.messageContainer {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
}
.imgContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
  margin-bottom: 32px;
  @include onTablet {
    width: 688px;
    display: flex;
    gap: 16px;
    align-self: stretch;
    margin-bottom: 32px;
    flex-wrap: wrap;
  }
  @include onDesktop {
    width: 1248px;
    gap: 24px;
  }
}
.imgCard {
  position: relative;
  border-radius: 8px;
  background: var(--light-gray, #e4e4e4);
  display: flex;
  min-width: 150px;
  max-width: 224px;
  min-height: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  @include onTablet {
    min-width: 224px;
    max-width: 224px;
    min-height: 126px;
  }
  @include onDesktop {
    min-width: 234px;
    max-width: 234px;
    min-height: 146px;
  }
}
.box_title_img {
  display: flex;
  justify-content: space-between;
}
.box_input {
  position: absolute;
  display: flex;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  top: 5px;
  left: 6px;
  width: 87px;
  height: 20px;
  border-radius: 4px;
  background: var(--White, #feffff);
}
// .input_checkbox {

// }
.label_title {
  color: var(--Dark-Gray, #606060);
  /* text */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.15px;
  border-radius: 4px;
  background: var(--White, #feffff);
}
.replay_btn {
  padding: 0px;
  position: absolute;
  top: 7px;
  left: 92px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background: var(--White, #feffff);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.close_btn {
  position: absolute;
  padding: 0px;
  top: 5px;
  right: 6px;
  width: 16px;
  height: 16px;
  background-color: #feffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.add_foto_btn {
  padding: 0px;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}
.main_info_title {
  color: var(--Black, #434343);
  /* Title 3/Bold */
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  margin-bottom: 16px;
}
.box_description {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.description_car_title {
  color: var(--Black, #434343);
  /* Title 4/Bold */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 22px */
  margin-bottom: 16px;
}
.box_item {
  margin-bottom: 24px;
  @include onTablet {
    display: flex;
    justify-content: space-between;
  }
}
.listItem {
  width: 100%;
  @include onTablet {
    width: 448px;
  }
  @include onDesktop {
    width: 704px;
  }
}
.item_dropdown_box {
  position: relative;
  width: 100%;
  @include onTablet {
    width: 384px;
  }
}
.box_item_price {
  margin-bottom: 32px;
  @include onTablet {
    display: flex;
    justify-content: space-between;
  }
}
.listItemSelectTitle {
  position: relative;
  width: 312px;
  height: 36px;
  border-radius: 32px;
  background: var(--Light, #f0f0f0);
  @include onTablet {
    width: 380px;
  }
}
.itemTypeNo {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.15px;
  position: absolute;
  width: 153px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 8px;
  color: var(--Black, #434343);
  background: var(--Light, #f0f0f0);
  border-radius: 24px;
  @include onTablet {
    width: 187px;
  }
  & input {
    display: none;
  }
  border: none;
  left: 2px;
  top: 2px;
  z-index: 1;
  color: black;
}
.itemTypeYes {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.15px;
  position: absolute;
  width: 153px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 6px 16px;
  color: var(--Black, #434343);
  background: var(--Light, #f0f0f0);
  border-radius: 24px;
  color: black;
  @include onTablet {
    width: 187px;
  }
  & input {
    display: none;
  }
  border: none;
  top: 2px;
  right: 2px;
}
.btn_advers {
  display: flex;
  padding: 14px var(--Number, 24px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--White, #feffff);
  text-align: center;
  /* H4 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.15px;
  border-radius: 32px;
  margin-bottom: 32px;
  background: var(--Black, #434343);
  border: 1px solid var(--Black, #434343);
}
.hide {
  display: none;
}
.selected {
  background: var(--Color, #797979);
  color: var(--White, #feffff);
}
.textarea {
  margin-bottom: 5px;
  width: 100%;
  height: 120px;
  display: flex;
  min-height: 120px;
  padding: 10px 20px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 18px;
  border: 1px solid #e4e4e4;
  background: #f0f0f0;
  resize: none;
  color: #434343;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
  outline: none;
  @include onTablet{
    width: 384px;
  }
  // @include onDesktop{
  //   width: 384px;
   
  // }
}
.textareaInvalid {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  min-height: 120px;
  height: 120px;
  padding: 10px 20px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 18px;
  border: 1px solid red;
  background: #f0f0f0;
  resize: none;
  color: red;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
  outline: non;
  @include onTablet{
    width: 384px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  @include onTablet {
    flex-direction: unset;
    gap: 285px;
  }
}
.btn_advers_delete {
  background: var(--White);
  display: flex;
  padding: 14px var(--Number, 24px);
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--Black, #434343);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.15px;
  border-radius: 32px;
  margin-bottom: 12px;
  border: 1px solid var(--Black, #434343);
  @include onTablet {
    margin-bottom: 32px;
  }
}
.btn_advers_delete:hover {
  border-radius: var(--Spacing-32-spacing, 32px);
  border: 1px solid var(--Black, #434343);
  background: var(--light-gray, #e4e4e4);
}
.btn_advers:hover {
  background: var(--light-gray, #e4e4e4);
  color: $color-black;
}
.btn_advers:active {
  background: var(--Dark-Gray, #606060);
  color: $white-color;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}
.btn_advers_delete:active {
  background: var(--Dark-Gray, #606060);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  color: var(--White, #feffff);
}
.trashIcon {
  width: 20px;
  height: 20px;
}
.btn_advers_delete:active .trashIcon path {
  fill: $white-color;
}
.staticValue {
  position: absolute;
  font-size: 14px;
  top: 12px;
  left: 21px;
}
.inputVincodeInValid_staticValue {
  width: 100%;
  display: flex;
  padding: 9px 51px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid var(--light-gray, red);
  background: var(--Light, #f0f0f0);
}
.titleHeader {
  background-color: $bg-color-light;

  // width: 1440px;

  // height: 20px;
}
.title_container {
  display: flex;
  margin: 0 auto;
  gap: 8px;
  align-items: center;
  width: $mobile-min-width;
  padding: 40px 20px 16px 20px;
  @include onTablet {
    width: $tablet-min-width;
    padding: 52px 40px 16px 40px;
  }
  @include onDesktop {
    width: $desktop-min-width;

    padding: 64px 96px 20px 96px;
  }
}
.btn_back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:transparent;
  border-radius: 50%;
  padding: 6px;
  width: 32px;
  height: 32px;
  transition: $effectDuration;
}
.btn_back:hover {
  background-color: $bg-color-active;
  // border-radius: 50%;
  // padding: 6px;
}
.btn_back:active {
  background-color: $border-active;
  // border-radius: 50%;
  // padding: 6px;
  .svg_btn path{
    fill: $bg-color-white; 
  }
}
.svg_btn path{
  fill: $color-black;
}

