@import '../../styles/utils/variables';
@import '../../styles/utils/breakpoints';

.goods {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-block-end: 1rem;
  }

  .title {
    font-size: $mobile-2xl;
    font-weight: 700;
    line-height: 120%;
    color: $color-black;
    @include onTablet {
      font-size: $tablet-2xl;
      line-height: 100%;
    }
    @include onDesktop {
      font-size: $desctop-2xl;
      line-height: 2.25rem;
    }
  }

  .catalog {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(16.5rem, 32.5rem));
    flex-wrap: wrap;
    gap: 2rem 1rem;
    width: 100%;

    @include onTablet {
      grid-template-columns: repeat(2, minmax(16.5rem, 32.5rem));
    }

    @include onDesktop {
      grid-template-columns: repeat(3, minmax(16.5rem, 32.5rem));
    }
  }

  .card {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .moreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 152px;
    height: 40px;
    box-sizing: border-box;
    padding-inline: 0.5rem;

    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: 0.00625rem;
    color: $hover-gray;
    text-align: center;
    text-wrap: nowrap;
    border-radius: 1.5rem;
    transition: background-color $effectDuration,
      color $effectDuration;

    &:hover {
      background-color: $background-color-white;
      color: $color-grey;
    }
  }
}
