@import '/src/styles/main.scss';

.container {
  @include onTablet {
    display: flex;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
  gap: 8px;

  @include onTablet {
    width: 224px;
    margin-bottom: unset;
  }

}

.title_text {
  color: var(--Black, #434343);
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;

  &_active {
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out;
  }

  @include onTablet {
    max-height: unset;
  }
}

.iconBtn {
  border: none;
  outline: none;

  @include onTablet {
    display: none;
  }
}
