@import '/src/styles/main.scss';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #12141780;
  backdrop-filter: blur(8px);
  z-index: 999;
  overflow: auto;
}

.modalCard {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 360px;
  border-radius: 32px;
  padding: 24px 20px;
  background-color: $white-color;

  @include onTablet {
    width: 488px;
    padding: 28px 24px;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
  @include onDesktop {
    width: 640px;
    padding: 32px 24px;
  }
}
