@import '../../styles/main.scss';

.container {
  display: grid;
  position: relative;
  max-width: 1200px;
  width: 100%;
  row-gap: 12px;
  column-gap: 16px;
  margin-bottom: 24px;
  margin: 0 auto;
  grid-template-columns: minmax(280px, 1fr);
  grid-template-areas: 'image''header''description';


  @include onTablet {
    padding: 0;
    height: 280px;
    grid-template-columns: 384px 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 'image header''image description';
  }
}

.image {
  grid-area: image;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin: 0 auto;
  flex-shrink: 0;
  background-color: $color-grey;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.title {


  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  cursor: pointer;
  overflow: hidden;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  flex: 1 0 0;

  @include onTablet {
    margin-bottom: 12px;
    color: $color-grey;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    max-height: 52px;

  }

  &:hover {
    text-decoration: underline;
  }

}

.price {
  color: $color-grey;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

}

.description {
  grid-area: description;

}

.properties {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include onTablet {
    justify-content: flex-start;
  }
}



.description__text {
  display: -webkit-box;
  margin-bottom: 12px;
  height: 75px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: $color-grey;
  max-width: 544px;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;

  @include onTablet {
    height: 118px;
    -webkit-line-clamp: 5;
  }
}


.date {
  display: flex;
  align-items: center;
  gap: 8px;

  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: $color-hover-border;

}

.buttons {
  display: flex;
}

.likeBtn {
  $size: 40px;
  $step: 12px;

  border: none;
  position: absolute;
  top: $step;
  right: $step;
  background: #fff;
  width: $size;
  height: $size;
  border-radius: 100%;

  @include onTablet {
    position: static;
  }
}

.optionBtn {
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  padding: 8px;
  transform: translateX(8px);

  img {
    $size: 24px;
    height: $size;
    width: $size;
    position: relative;
    z-index: 2;
  }

  &:hover {
    background: $color-hover-border;

  }
}

.droplist {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  width: 240px;
  padding: 2px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  border-radius: 21px;
  border: 1px solid var(--Light, #F0F0F0);
  background: var(--White, #FEFFFF);


  li {

    text-align: left;
    display: flex;
    padding: 10px 6px 10px 16px;
    align-items: center;
    gap: 6px;
    align-self: stretch;

    &:hover {
      background: $color-hover-border;
      color: #fff;
    }
  }
}


.modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #00000096;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    min-height: 150px;
    min-width: 200px;
    padding: 10px 15px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    p {
      text-align: center;
      width: 100%;
    }

    button {
      border: 2px solid $color-grey;
      padding: 6px 20px;
      border-radius: 20px;
      background: #fff;
      color: $color-grey;
      margin-left: 20px;

      &:first-of-type {
        margin-left: 0;
      }

      &:hover {
        background: $color-grey;
        color: #fff;
      }
    }
  }
}
