@import '../../styles/main.scss';

.header {
  // position: fixed;
  width: 360px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  // height: 56px;
  padding: 8px 20px;
  background-color: $bg-color-light;
  z-index: 3;
  padding: 18px 20px;

  @include onTablet {
    width: 768px;
    // height: 68px;
    padding: 18px 40px;
  }
  @include onDesktop {
    width: 1440px;
    padding: 18px 96px;
  }
  &__nav {
    display: none;
    height: 100%;
    align-items: center;
    gap: 16px;
    font-family: Roboto;
    font-size: $font-size-root;
    font-style: normal;
    font-weight: 600;
    @media (min-width: 880px) {
      display: flex;
    }
    &_link {
      padding: 8px;
    }
  }
  &__left {
    display: flex;
    height: 32px;
    align-items: center;
    gap: 16px;
    @media (max-width: 880px) {
      gap: 8px;
    }
    &__link {
      text-decoration: none;
      color: $color-grey;
      font-weight: bold;
    }
  }
  &__right {
    display: flex;
    height: 32px;
    gap: 16px;
    @media (max-width: 880px) {
      gap: 8px;
      display: flex;
      // align-items: center;
    }
  }
  &__add_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $effectDuration;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    &:hover {
      border: 1px solid $border-active;
      background-color: $bg-color-active;
    }
    &:active{
      background-color:$border-active;
      .add_icon path{
        fill: $bg-color-white;
      }
    }
    @include onTablet {
      display: flex;
      align-items: center;
      border: 1px solid transparent;
      border-radius: 32px;
      padding: 5px 12px;
      width: 100%;
      // height: ;
      margin-right: 8px;
      font-family: Roboto;
      font-size: $xs;
      font-style: normal;
      font-weight: 600;
      color: $color-black;
      &:hover {
        border: 1px solid $border-active;
        background-color: $bg-color-active;
      }
    }
    &_icon {
      margin-left: 8px;
      width: 20px;
      height: 20px;
    }
    &_icon path {
      fill: $color-black;
    }
  }
  &__add_button:active {
    @include onTablet {
      background-color: $color-dark-blue;
      color: $bg-color-white;
      border: 1px solid $bg-color-white;
      .header__add_button_icon path {
        transition: $effectDuration;
        fill: $bg-color-white;
      }
    }
  }
  &__auth_container {
    display: flex;
    // align-items: center;
  }
  &__login_icon path {
    fill: $color-black;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  &__login_icon_active path {
    // background: #7796e0;
    // border-radius: 50%;
    // padding: 4px 4px;
    fill: $bg-color-white;
    cursor: pointer;
  }
  &__favorite_button,
  &__login_button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    transition: $effectDuration;
  }
  &__favorite_button {
    position: relative;
    border-radius: 50%;
    padding: 4px 4px;
  }
  &__login_text {
    // margin-left: 8px;
    color: $color-black;
    font-family: Roboto;
    font-size: $xs;
    font-style: normal;
    font-weight: 600;
    padding: 5px 12px;
    border-radius: 32px;
    border: 1px solid transparent;
    transition: $effectDuration;
  }
  &__login_text:hover {
    padding: 5px 12px;
    border-radius: 32px;
    border: 1px solid$border-active;
    background: $bg-color-active;
  }
  &__login_text:active {
    border: 1px solid var(--White, #fff);
    background: var(--Main-color, #403e87);
    color: $bg-color-white;
  }
}
.svg_icon path {
  fill: $color-black;
  width: 24px;
  height: 24px;
}
.svg_icon:active path {
  fill: $bg-color-white;
  width: 24px;
  height: 24px;
}
.header__favorite_button:hover {
  background: $bg-color-active;
}
.header__favorite_button:active {
  background: $border-active;
  .svg_icon path {
    fill: $bg-color-white;
    width: 24px;
    height: 24px;
  }
}

.header__login_icon:active path {
  fill: $bg-color-white;
}
.add_icon path{
  fill: $color-black;
}