.Container {
  display: flex;
  width: 100vw;
  height: calc(100vh - 56px);
  box-sizing: border-box;
  justify-content: center;
}

.Login {
  &_container {
    margin-top: 43px;
    height: fit-content;
    width: 320px;
    display: flex;
    flex-direction: column;
  }

  &_step {
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    color: #606060;
    line-height: 16px;
    padding: 7px 0;
    margin-bottom: 12px;
  }

  &_title {
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    color: #434343;
    margin-bottom: 12px;
  }

  &_login {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #606060;
    margin-bottom: 32px;
  }

  &_email {
    margin-bottom: 24px;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #E4E4E4;
    border-radius: 32px;
  }

  &_btn {
    height: 52px;
    background-color: #434343;
    color: #FEFFFF;
    margin-bottom: 24px;
    border-radius: 32px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  &_googleBtn {
    box-sizing: border-box;
    height: 52px;
    background-color: transparent;
    color: #434343;
    border: 1px solid #434343;
    border-radius: 32px;

    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #434343;
  }
}

