@import '/src/styles/main.scss';

.authSection {
  background-color: $bg-color-light;
  height: 100vh;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: $mobile-min-width;
  margin: 0 auto;
  height: 100%;

  @include onTablet {
    justify-content: flex-start;
    width: $tablet-min-width;
  }
  @include onDesktop {
    width: $desktop-min-width;
  }
}

.nav {
  display: flex;
  width: 100%;
  padding: 20px 42px 68px;
  justify-content: space-between;
  align-items: center;

  &_text {
    font-size: $xs;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}

.Login_googleBtn {
  border: none;
}
