@import '/src/styles/main.scss';

.authSection {
  background-color: $bg-color-light;
  height: 100vh;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $mobile-min-width;
  margin: 0 auto;
  height: 100%;
}

.nav {
  display: flex;
  padding: 20px 40px 120px;
  justify-content: space-between;
  align-items: center;

  &_text {
    font-size: $xs;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}

.Login_googleBtn {
  border: none;
}
