@use '../../styles/utils' as *;

.overflow__hidden {
  overflow: hidden;
}

.burgerMenu {
  position: fixed;
  overflow-y: hidden;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-100%);
  pointer-events: none;
  // background-color: $white-color;
  height: 100%;
  z-index: 3;

  // @include uppercaseText;

  &.open {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    // box-shadow: 0px 1px 0px 0px $elements-color;
    padding: 0 0 0 16px;

    z-index: 1;

    &__bottons {
      display: flex;
    }
  }
}

.togleSwitch {
  position: relative;
  width: 64px;
  background: none !important;
  // border-color: transparent !important;
  // box-shadow: -1px 0px 0px 0px $elements-color;
  z-index: 3;
  // transition: all 0.3s ease !important;

  &:hover {
    // border: 1px solid $primary-color !important;
  }
}

.closeButton {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;

  &__link {
    width: 64px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    // box-shadow: -1px 0px 0px 0px $elements-color;
    cursor: pointer;
    border: none !important;
    transition: all 0.3s ease;
  }

  &__close {
    padding-inline: 24px;
    background: none !important;
  }
}

.nav {
  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    gap: 50px;
  }

  &__item {
    display: block;
    text-decoration: none;
    align-items: center;
    cursor: pointer;

    // @include uppercaseText;

    font-size: 20px;
  }
}

.menuButtons {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  // box-shadow: 0px 0px 0px 1px $elements-color;
  align-self: center;
  justify-content: space-around;

  &__button {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    height: 100%;
    // box-shadow: -1px 0px 0px 0px $elements-color;
    cursor: pointer;
  }

  &__link {
    padding: 0;
    margin: 0;
  }

  &__buttonLink {
    width: 16px;
    height: 16px;

    position: relative;

    padding-inline: 47%;
    border: 1px solid transparent !important;
    height: 100%;
    width: 100%;
  }
}

.is__activeButton {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.is__activeButton::after {
  position: absolute;
  content: '';
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  // background-color: $primary-color;
}
