@import '../../styles/utils/variables';
@import '../../styles/utils/breakpoints';

.AdvSearch {
  padding-top: 68px;

  &_container {
    width: $mobile-min-width;
    margin: 0 auto;

    @include onTablet {
      width: $tablet-min-width;
    }
    @include onDesktop {
      width: $desktop-min-width;
    }
  }
  &_title {
    @include title-styles;
    padding: 64px 0px 16px;
  }
}
