@import '../../styles/utils/variables';
@import '../../styles/utils/variables';
.AdvSearch{
    padding-top: 68px;
    background:#E4E4E4;

    &_container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0px 20px;
    }

    &_title{
        @include title-styles;
        padding: 64px 0px 16px;
    }
}
