@import '../../styles/utils/breakpoints';
@import '../../styles/utils/variables';


.galleryContainer{
  margin-right: auto;
  margin-left: auto;
  width: 312px;
  border-radius: 8px;

  @media (min-width: 768px) {
    width: 688px;
  }
}
.photoContainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width:312px;
  height: 190px;
  border-radius: 8px;
  overflow: hidden;
  font-size: 12px;

  @media (min-width: 768px) {
    width: 688px;
    height: 430px;
  }
}

.image{
  width: 100%;
object-fit: cover;
}

.imageCounterContainer{
  position:absolute;
  top: 12px;
  left:12px;
  background-color: $white-color;
  width: 80px;
  height: 24px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:8px;
  color:$color-grey;
}

.fullScreenButton{
  position:absolute;
  bottom: 6px;
  right: 6px;
  border: none;
}

.fullScreenIcon{
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.favouriteIconContainer{
  position: absolute;
  border: none;
  top:12px;
  right: 12px;
  background-color: $white-color;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}




// .slider {
//   width: 100%;

//   .content {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 1rem;
//     user-select: none;
//     max-width: $desktop-min-width;

//     @include onTablet {
//       margin-inline: auto;
//       padding-inline: $tablet-padding;
//       box-sizing: border-box;
//     }

//     @include onDesktop {
//       max-width: $desktop-min-width;
//     }
//   }

//   .header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-block-end: 1.2rem;
//   }

//   .title {
//     font-size: 1.375rem;
//     font-weight: 700;
//     line-height: 120%;

//     @include onTablet {
//       font-size: 2rem;
//       line-height: 100%;
//     }
//   }

//   .navBtns {
//     display: none;

//     @include onTablet {
//       display: flex;
//       justify-content: center;
//       gap: 0.5rem;
//     }
//   }

//   .slide {
//     display: block;
//     box-sizing: border-box;
//     width: 264px;

//     @include onTablet {
//       max-width: 520px;
//       width: 100%;
//     }

//     &:first-child {
//       margin-inline-start: $mobile-padding;
//     }

//     &:last-child {
//       margin-inline-end: $mobile-padding;
//     }

//     &:first-child,
//     &:last-child {
//       @include onTablet {
//         margin-inline: 0;
//       }
//     }
//   }
// }

// .squareBtn {
//   width: 32px;
//   aspect-ratio: 1/1;
//   border-radius: 50%;
//   box-shadow: $shadow-btn;
//   border: none;

//   &:hover {
//     background-color: $bg-hover-btn;
//   }

//   img {
//     display: block;
//     width: 10px;
//     height: 20px;
//     object-fit: cover;
//   }

//   &.squareBtn_left {
//     img {
//       margin-inline-end: 2px;
//     }
//   }

//   &.squareBtn_right {
//     img {
//       margin-inline-start: 2px;
//     }
//   }
// }
