@import '/src/styles/main.scss';
@import '../../../styles/utils/variables';

.container {
    width: 100%;
    height: 164px;
    background-color: $background-color-white;
    padding: 64px 20px 20px;
    @include onTablet {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 52px 40px 20px;
    }
}

.title {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 16px;
    @include onTablet {
        margin-bottom: 0;
    }
}

.menu {
    display: flex;
    column-gap: 8px;
    width: 312px;
    height: 32px; 
}

.filter {
    width: 160px;
    border-radius: 32px;
    border: none;
    background-color: $white-color;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.sort {
    width: 144px;
    border-radius: 32px;
    border: none;
    background-color: $white-color;
    outline: none;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    padding: 6px 8px 6px 14px ;
}

