@import 'src/styles/main.scss';

@mixin customCheckbox {
  input[type="checkbox"] {
    -webkit-appearance: none;
    $size: 18px;
    width: $size;
    height: $size;
    position: relative;
    transform: translatey(-1px);


    &::before {
      position: absolute;
      content: '';
      border: 2px solid $color-grey;
      background: none;
      $step: 1px;
      top: $step;
      bottom: $step;
      left: $step;
      right: $step;
      border-radius: 2px;
    }

    &::after {
      position: absolute;
      content: '';
      $step: 4px;
      top: $step;
      bottom: $step;
      right: $step;
      left: $step;
      background: $color-dark-grey;
      transform-origin: bottom left;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      display: none;

    }

    &:checked {
      &::before {
        border-color: $hover-gray;
        background: #fff;
      }

      &::after {
        display: block;
        transform: scale(1);

      }
    }
  }
}

.listItem {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.15px;
  cursor: pointer;
  
}

.listItem_Inactive {
  cursor: default;
}


.listLink {
  margin: 2px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  border-radius: 19px;
  // width: 200px;
  width: 284px;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;

  &>span::selection {
    background: transparent;
  }

  &:hover {
    color: $color-grey;
    background-color: $background-color-white;


  }

  &_checked {
    background: $hover-gray;
    color: #fff;


    &:hover {
      color: #fff;
      background: $hover-gray;
    }
  }

  @include customCheckbox()
}

.listLink_inactive {
  &::selection {
    background: transparent;
  }

  &:hover {
    color: inherit;
    background: none;
  }
}


.listTitle {
  margin: 2px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  border-radius: 19px;
  color: $color-grey;
  transition: color 0.3s ease,
    background-color 0.3s ease;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  pointer-events: none;

  &::selection {
    background: transparent;
  }
}
