@import '../../../styles/main.scss';

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 190px;
  border-radius: 8px;
  @include onDesktop {
    height: 250px;
  }
}

.transportImage {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 8px;
  @include onDesktop {
    height: 250px;
  }
}
