@import '/src/styles/main.scss';


.slider {
  //   background: #000;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
  outline: none;
  border-radius: 32px;

  background: $color-light;
}

.separator {
  background: #000;
  height: 1px;
  width: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.thumb {
  //   background: #000;
  position: relative;
  $size: 24px;
  width: $size;
  height: $size;
  background: $color-gray;
  border-radius: 32px;


  //   #BIV
  // only this way can rewrite inline style on the library component
  border: none !important;
  outline: none !important;

  &_value {
    position: absolute;
    top: -20px;
  }
}

.track {
  background: $color-gray;
  height: 2px;
}
