@import '/src/styles/main.scss';

.footer {
  background-color: $color-black;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $mobile-min-width;
  height: 120px;
  padding: 38px 20px;
  margin: 0 auto;

  @include onTablet {
    width: $tablet-min-width;
    padding: 38px 40px;
  }
  @include onDesktop {
    width: $desktop-min-width;
    padding: 38px 96px;
  }
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 13px;
}

.contact {
  padding-block: 6px;
  color: $color-medium-gray;
  font-size: $mobile-md;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  @include onTablet {
    font-size: $tablet-md;
  }
}
