@import '../../styles/utils/variables';

.footer {
  padding-block: 38px;
  background-color: #E4E4E4;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 0.81rem;
}

.contact {
  padding-block: 6px;
  color: $color-dark-grey;
  font-size: 16px;
  font-weight: 600;
}
