@import '/src/styles/main.scss';

.container {
  padding: 24px;

  @include onDesktop {
    border-radius: 16px;
    border: 1px solid $ads-border-color;
  }

  .title {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
  }
}
