@import '/src/styles/main.scss';

.userPage {
  .container {
    width: $mobile-min-width;
    padding: 96px 0 0 0px;
    margin: 0 auto;
    @include onTablet {
      width: $tablet-min-width;
      padding: 116px 40px 0 40px;
    }
    @include onDesktop {
      width: $desktop-min-width;
      padding-right: 40px;
    }
  }

  &_title {
    @include title-styles;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .tabs {
    display: flex;
    column-gap: 24px;
    margin-bottom: 32px;
    .tab {
      @extend %tab-styles;
      font-size: 22px;
      font-weight: 700;
      line-height: 120%;
      padding: 10px 0;
    }
  }
}
