@import '../../styles/utils/variables';

.userPage {
    .container {
        padding: 40px;
        margin: 0 auto;
    }

    &_title {
        @include form-title-styles;
        margin-bottom: 0;
    }

    .tabs {
        display: flex;
        padding: 40px 0 8px;
        

        .tab {
            font-size: 20px;
            @extend %tab-styles;
        }
    }
}