@import '../../styles/utils/variables';

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  aspect-ratio: 1/1;

  border: none;
  background-color: transparent;

  &:hover {
    svg {
      transform: scale(1.05);
    }
  }

  svg {
   width: 1rem;
   height: 1rem;
   transition: transform $effectDuration;
  }
}
