@import '../../../styles/utils/variables';

.Container {
  position: relative;
}

.Login {
  justify-self: center;

  &_container {
    @include form-container-styles;

    @media (min-width: 1024px) {
      width: 464px;
    }
  }

  &__reset_password {
    display: block;
    text-align: center;
    font-family: $font-roboto;
    font-size: 11px;
    font-weight: 400;
    color: $color-gray;
    margin-bottom: 36px;
  }

  &_title {
    @include form-title-styles;

    @media (min-width: 1024px) {
      font-size: 44px;
    }
  }

  &_label {
    position: absolute;
    top: -8px;
    color: $color-gray;
    @extend %form-label;
  }

  &_login {
    @extend %form-top-styles;

    &_link {
      margin-left: 8px;
      @extend %link;
    }
  }

  &_field {
    @include form-field-styles;
    margin-bottom: 24px;
  }

  &_btn {
    @include form-button-styles;
    margin-bottom: 20px;
  }

  &_line {
    margin-bottom: 24px;
    width: 100%;
  }

  &_googleBtn {
    @include form-button-styles;
    height: 44px;
    color: $color-black;
    border: 1px solid $color-black;
    background-color: transparent;

    &_icon {
      margin-left: 8px;
    }
  }
}

.input_container {
  @include form-inputContainer-styles;
  margin-bottom: 0;
}

.password_container {
  @include form-inputContainer-styles;

  &_icon {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 20px;
    top: 11px;
  }
}


