@import '/src/styles/main.scss';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #12141780;
  backdrop-filter: blur(8px);
  z-index: 999;
  overflow: auto;
}

.modalCard {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 360px;
  border-radius: 32px;
  padding: 24px 20px;
  background-color: $white-color;

  &.showCharacts {
    bottom: 0;
    transform: translate(-50%, 0);
    height: calc(100vh - 20%);

    @include onTablet {
      bottom: 50%;
      transform: translate(-50%, 50%);
    }
  }

  @include onTablet {
    width: 488px;
    padding: 28px 24px;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
  @include onDesktop {
    width: 488px;
    padding: 32px;
  }

  & button {
    padding: 0;
    border: none;
  }

  & .title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    & .title {
      font-size: $mobile-xl;
      font-weight: 700;
      line-height: 120%;

      @include onTablet {
        font-size: $tablet-xl;
        font-weight: 700;
        line-height: 100%;
      }
    }

    & .closeButton {
      display: flex;
      @include onTablet {
        right: 32px;
      }
      & svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  & .input {
    width: 100%;
    border-radius: 32px;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid $border-gray;
    background: $color-light-grey;
    font-family: Roboto;
    font-size: $mobile-sm;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: $color-black;
    &::placeholder {
      color: inherit;
    }
  }

  & .charactsTitleThumb {
    width: 100%;
    padding: 4px 20px;
    border-radius: 20px;
    border: 1px solid $border-gray;
    background: $color-light-grey;
    margin-bottom: 10px;
    &.showCharacts {
      margin-bottom: 0;
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  & .titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h3 {
      font-size: $mobile-sm;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.1px;
    }
    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      transition: all 250ms ease-in-out;

      &:hover {
        background-color: $bg-color-active;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
      }
      &:active {
        background-color: $border-active;
        & path {
          fill: $bg-color-white;
        }
      }
    }
    & button.arrowUp {
      transform: rotate(180deg);
    }
  }

  & .characteristics {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid $border-gray;
    border-top: none;

    background: $color-light-grey;
    padding: 6px 20px 16px;
    margin-bottom: 10px;

    & .charactThumb {
      @include onTablet {
        display: flex;
      }
    }

    & .charactTitles {
      font-size: $xs;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.5px;
      margin-bottom: 8px;

      @include onTablet {
        width: 140px;
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }

  .listItem {
    width: 100%;
    gap: 8px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &:last-child {
      position: relative;
    }

    @include onTablet {
      width: 528px;
    }
    @include onDesktop {
      width: 1036px;
    }
  }

  .bargainInput {
    width: 0;
    height: 0;
    border: none;
    padding: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;

    &:checked ~ label::before {
      background: url(../../assets/icons/checked_box.svg) center;
    }
  }

  .bargainLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 280px;
    height: 44px;
    padding: 6px 12px;
    background-color: $border-gray;
    border-radius: 24px;
    cursor: pointer;

    font-size: $mobile-sm;
    @include onTablet {
      font-size: $tablet-sm;
    }

    &::before {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      padding: 8px;
      background: url(../../assets/icons/check_box.svg) center;
    }
  }

  .bargain {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 157px;
    height: 32px;
    background-color: $bargain-gray;
    border-radius: 24px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;

    transition: all 250ms ease-in-out;
  }

  .bargain.active {
    background-color: $button-active;
    color: $white-color;
  }

  & .scrollThumb {
    margin-bottom: 20px;

    &.showCharacts {
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  & .emailWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 8px 20px;
    border-radius: 32px;
    border: 1px solid $border-gray;
    background: $color-light-grey;

    & p {
      font-size: $mobile-sm;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.1px;
    }

    & input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    & label {
      width: 40px;
      height: 24px;
      border-radius: 12px;
      background: $border-gray;
      border: 1px solid #00000033;
      padding: 2px;
    }
    & label::after {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #646464;
      transition: transform 250ms ease;
    }
    & input:checked ~ label {
      background: $border-active;
      border: 1px solid $border-active;
    }
    & input:checked ~ label::after {
      transform: translate(16px);
      background-color: $bg-color-white;
    }
  }

  & .saveBtn {
    width: 76px;
    min-height: 32px;
    border-radius: 24px;
    border: 1px solid $color-black;
    background: $color-black;
    font-family: Roboto;
    font-size: $xs;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.5px;
    color: $bg-color-white;
    transition: $effectDuration;
  }

  & .saveBtn:hover {
    border: 1px solid $border-active;
    background: $bg-color-active;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    color: $color-black;
  }
  & .saveBtn:active {
    border: 1px solid $bg-color-white;
    background: $color-dark-blue;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
    color: $bg-color-white;
  }
}
