.inputBlokResultAddBrand{
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
.priceLeftAddBrand, .priceRightAddBrand{
  width: 188px;
  height: 40px;
  padding-left: 28px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f0f0f0;
  border-radius: 32px;
  border: none;
  outline: none;
}
.inputBlokRangeAddBrand{
  display: flex;
  width: 388px;
  align-items: center;
  justify-content: center;
  height: 24px;
}
.carYearLeftAddBrandt,.carYearRightAddBrand{
  -webkit-appearance: none;
  appearance: none;
  width: 198px;
  height: 2px;
  background: #797979;
  outline: none;
  border-radius: 2px;
}
.carYearLeftAddBrandt::-webkit-slider-thumb, .carYearRightAddBrand::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #797979;
  cursor: pointer;
  // outline: ;
}
.carYearRightAddBrand{   
  margin-left:-10px;
}
.centralDivider{
  width: 12px;
  height: 1px;
  background: black;
  }