@import '/src/styles/main.scss';

.rangeThumb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBlokResult {
  width: 320px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    width: 280px;
  }
  @include onDesktop {
    width: 400px;
  }

  &.modalStyle {
    width: 278px;
    @include onTablet {
      width: 238px;
    }
    @include onDesktop {
      width: 340px;
    }
  }
}

.priceLeft,
.priceRight {
  width: 144px;
  height: 40px;
  padding-left: 28px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f0f0f0;
  border-radius: 32px;
  border: none;
  outline: none;

  font-family: Roboto;
  font-size: $mobile-sm;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.15px;

  @include onTablet {
    width: 124px;
    font-size: $tablet-sm;
  }
  @include onDesktop {
    width: 184px;
  }
  &.modalStyle {
    width: 124px;
    @include onTablet {
      width: 104px;
    }
    @include onDesktop {
      width: 154px;
    }
  }
}
.inputBlokRange {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;

  @include onTablet {
    width: 280px;
  }
  @include onDesktop {
    width: 400px;
  }

  &.modalStyle {
    width: 254px;
    @include onTablet {
      width: 214px;
    }
    @include onDesktop {
      width: 316px;
    }
  }
}
.centralDivider {
  width: 8px;
  height: 1px;
  background: black;
  @include onTablet {
    width: 12px;
  }
}
