@import '/src/styles/main.scss';

// .container {
//   display: flex;
//   flex-direction: column;
//   padding: 24px 20px;
//   margin-bottom: 32px;

//   @include onTablet {
//     border-radius: 16px;
//     border: 1px solid $ads-border-color;
//   }
//   &::before {
//     content: '';
//     position: absolute;
//     top: 226px;
//     left: 0;
//     width: 100vw;
//     height: 1px;
//     background-color: $background-color-white;
//     @include onTablet {
//       display: none;
//     }
//   }
  .titleThumb {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h3 {
      font-size: 22px;
      font-weight: 700;
      line-height: 120%;
    }
    & button {
      display: block;
      padding: 6px 8px;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.1px;
      color: $button-active;
      border: 1px solid transparent;
    }
    & button:hover {
      border-radius: 24px;
      border: var(--Adding-new, 1px) solid var(--Black, #434343);
      background: var(--light-gray, #e4e4e4);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);

    }
  }

  .form {
    display: flex;
    flex-direction: column;

    & label {
      margin-top: 24px;
      font-size: 20px;
      font-weight: 600;
      line-height: 110%;

      @include onTablet {
        display: flex;
        column-gap: 16px;
        align-items: center;
      }
      & span {
        width: 224px;
        @include onTablet {
          align-self: flex-start;
        }
      }
      & .eyeThumb {
        position: absolute;
        top: 10px;
        right: 20px;
        @include onTablet {
          top: 10px;
        }
      }
    }

    & .inputField {
      width: 100%;
      height: 40px;
      padding: 10px 44px 10px 20px;
      border-radius: 32px;
      border: 1px solid $ads-border-color;
      background-color: $color-light;
    }

    & .fieldThumb {
      position: relative;
      margin-top: 16px;
      @include onTablet {
        width: 384px;
        margin-top: 0;
      }
    }

    & .errorMessage {
      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.5px;
      color: $color-text-grey;
      @include onTablet {
      }
    }

    & .eyeIconStyle path {
      fill: red;
    }

    & .submitBtn {
      width: 207px;
      height: 52px;
      margin-top: 32px;
      border-radius: 32px;
      border: 1px solid $color-grey;
      background-color: $color-grey;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: $white-color;
      transition: all 250ms ease-in-out;
      &:hover {
        background-color: $background-color-white;
        color: $color-grey;
      }
      &:active {
        background-color: $color-dark-grey;
        border: 1px solid $color-dark-grey;
        color: $white-color;
      }
    }
  }
// }
