@import '../../styles/utils/variables';

.homePage {

  .main {
    padding-block: 2.5rem;
    margin-inline: auto;
    background-color: $white-color;
  }

  .recentGoods {
    margin-block-end: 2.5rem;
  }

  .newGoods {
    margin-block-end: 3.5rem;
  }

  .popularGoods {
    margin-block-end: 1.5rem;
  }
}

.loadBtn {
  display: block;
  // width: 10.8rem;
  // height: 2.5rem;
  margin-inline: auto;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.1px;
  padding: 12px 20px;
  background-color: $bg-color-white;
  border: 1px solid $color-black!important;
  border-radius: 2rem;
  transition: border-color $effectDuration,
    background-color $effectDuration;

  &:hover {
    // border: 1px solid $color-black!important;
    border-color:  $color-black!important;
    background-color:$bg-color-light!important;
  }
  &:active{
    border: 1px solid $bg-color-white!important;
    // border-color: $color-black!important;
    color: $bg-color-white;
    background-color: $color-dark-blue!important;
    .upd_btn path {
      fill: $bg-color-white;
    }
  }
  .upd_btn{
    margin-left: 8px;
  }
}
