@import '../../styles/main.scss';

.homePage {

  .main {
    padding-block: 2.5rem;
    margin-inline: auto;
    background-color: $white-color;
  }

  .recentGoods {
    margin-block-end: 2.5rem;
  }

  .newGoods {
    margin-block-end: 3.5rem;
  }

  .popularGoods {

  }
}
